<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Phlex Store</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <link rel="stylesheet" href="css/store.css">
</head>
<body>

  <div id="app">
    <h1>Phlex Apple Store</h1>
    <div class="product-list">
      <div v-for="product in products" class="product-item">
        <img :src="product.image" :alt="product.name" />
        <h3>{{ product.name }}</h3>
        <p>{{ product.price | currency }}</p>
        <button @click="addToCart(product)">Add to Cart</button>
      </div>
    </div>

    <div class="cart">
      <h2>Shopping Cart</h2>
      <ul>
        <li v-for="item in cart">{{ item.name }} - {{ item.price | currency }}</li>
      </ul>
      <p style="text-align: left;">Total: {{ total | currency }}</p>
     
      <button @click="clearCart">Clear Cart</button>
    </div>
  </div>

  <script src="js/vue.js"></script>

</body>
</html>
